<!DOCTYPE html>
<html>
<head>
  <title> Dan's Weather App</title>
  <style>

    body{
      margin:0;
      padding:0;
      background-color: #101e2b;
      color: white;
      font-family: verdana;
      font-size: 30px;
    }
    nav{
      background-color: red;
    }

    #content{
      padding-top:10%;
    }
    img{
      padding: 0;
      margin: 0;
      width:25px;
      height:25px;
    }

    form{
      width:70%;
      margin:0;
      padding:0;
      margin-top:20px;

    }
    form *{
      height:45px;
      margin:0;
      box-sizing:border-box;
      border:0;
      font-size: 20px;
    }
    form input{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding-left:15px;
      width:60%;

    }
    form button{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      width:auto;
      margin-left: -10px;
      background-color: #0066ff;
      color:white;
      padding-left: 25px;
      padding-right:25px;
    }

    #weeklyWeather {
      width:auto;
      max-width: 100%;
      padding-top:10%;
    }

    #weeklyWeather ul {
      list-style-type: none;
      padding-left: 4%;
      padding-right: 4%;
      border-left: 1px white solid;
      float:left;
      display:block;
      text-align: center;

    }
    #weeklyWeather ul:first-child{
      border:none;
    }
    #weeklyWeather li * {
      list-style-type: none;
      text-align:center;
    }

    #weeklyWeather li {
      text-align:center;
    }

    #weeklyWeather li:first-child{

    }


  </style>
</head>

<body>
  <nav></nav>
  <center>
    <form method="POST", action="/city">
      <input type="text" placeholder="Enter your city here..." name="searchedCity" required autofocus>
       <button>Submit</button>
    </form>

  <div id="content">

    <h1>Weather in <%= weather.city%> </h1> <br>
    <img src = "http://openweathermap.org/img/w/<%=weather.icon%>.png" <%=weather.icon%> <br><br>
    <%= weather.temperature %>°C | <%= weather.description %> <br>


  </div>
  <div id="weeklyWeather">
    <ul>
      <li>Mon</li>
      <li><%= weatherArray[0].temperature %>°C</li>
      <li><%= weatherArray[0].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Tue</li>
      <li><%= weatherArray[1].temperature %>°C</li>
      <li><%= weatherArray[1].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Wed</li>
      <li><%= weatherArray[2].temperature %>°C</li>
      <li><%= weatherArray[2].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>

    </ul>
    <ul>
      <li>Thu</li>
      <li><%= weatherArray[3].temperature %>°C</li>
      <li><%= weatherArray[3].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Fri</li>
      <li><%= weatherArray[4].temperature %>°C</li>
      <li><%= weatherArray[4].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Sat</li>
      <li><%= weatherArray[5].temperature %>°C</li>
      <li><%= weatherArray[5].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Sun</li>
      <li><%= weatherArray[6].temperature %>°C</li>
      <li><%= weatherArray[6].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
  </div>
</center>
</body>
</html>
