<!DOCTYPE html>
<html>
<head>
  <title> Dan's Weather App</title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <nav></nav>
  <center>
    <form method="POST", action="/city">
      <input type="text" placeholder="Enter your city here..." name="searchedCity" required autofocus>
       <button>Submit</button>
    </form>

  <div id="content">

    <h1>Weather in <%= weather.city%> </h1> <br>
    <img src = "http://openweathermap.org/img/w/<%=weather.icon%>.png" <%=weather.icon%> <br><br>
    <%= weather.temperature %>°C | <%= weather.description %> <br>


  </div>
  <div id="weeklyWeather">
    <ul>
      <li>Mon</li>
      <li><%= weatherArray[0].temperature %>°C</li>
      <li><%= weatherArray[0].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Tue</li>
      <li><%= weatherArray[1].temperature %>°C</li>
      <li><%= weatherArray[1].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Wed</li>
      <li><%= weatherArray[2].temperature %>°C</li>
      <li><%= weatherArray[2].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>

    </ul>
    <ul>
      <li>Thu</li>
      <li><%= weatherArray[3].temperature %>°C</li>
      <li><%= weatherArray[3].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Fri</li>
      <li><%= weatherArray[4].temperature %>°C</li>
      <li><%= weatherArray[4].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Sat</li>
      <li><%= weatherArray[5].temperature %>°C</li>
      <li><%= weatherArray[5].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
    <ul>
      <li>Sun</li>
      <li><%= weatherArray[6].temperature %>°C</li>
      <li><%= weatherArray[6].description %></li>
      <li><img src = "http://openweathermap.org/img/w/<%=weatherArray[0].icon%>.png" <%=weather.icon%></li>
    </ul>
  </div>
</center>
</body>
</html>
